h1 {
  font-size: 150px;
  color: blue;
 
  
}

h2 {
  color: blue;
  text-align: right;
 
  

}
body {
  
  font-family: "Helvetica Neue", sans-serif;
  font-size: 24px;    
  
}

P {
  font-size: 44px;
  section{padding: 60px;}
  

}
.written-by{
  color: blue
}

img {
  margin: 100px
}

