h1 {
  font-size: 200px;
  color: darkblue;
 
  
}

h2 {
  color: darkblue;
  text-align: left;
 
   

}
body {
  
  font-family: "Helvetica Neue", sans-serif;
  font-size: 24px;    
  
  
}

P {
  font-size: 44px; 
  text-align: center;
    color: black

}
.written-by{
  color: darkblue;
    text-align: right;
}
  .jac{
    text-align: right;
  }
.link{
  text-align: right;
  color: darkblue;

}

img {
  img-align: right;
  
}

