h1 {
  font-size: 150px;
  color: blue;
 
  
}

h2 {
  color: blue;
  text-align: right;
 
  

}
body {
  
  font-family: "Helvetica Neue", sans-serif;
  font-size: 24px;    
  padding: 50px;
  
}

P {
  font-size: 44px;

  

}
.written-by{
  color: blue;
    text-align: right;
}

img {
  margin-left: 700px;
  
}

